.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.nav {
  margin-right: 215px;
  &__list {
    display: flex;
  }
  &__items:not(:last-child) {
    margin-right: 50px;
  }
}

.header {
  border-bottom: 1px solid getColor("background-header");
}
